.nav .for-menu {
    display: none; /* Изначально скрываем подменю */
    background-color: #f90; /* Цвет фона подменю (оранжевый) */
    position: absolute; /* Абсолютное позиционирование подменю */
    top: 100%; /* Отображение подменю под родительским пунктом */
}
